version: "3.9"

services:

  broker:
    build:
      context: ../../src/simulation_broker/
    ports:
      - "3000:80"

  user_model:
    build:
      context: ../../src/user_model/simple/

  scenario_historical:
    build:
      context: ../../src/scenario/historical/

  scheduled:
    build:
      context: ../../src/base_simulators/scheduled
    ports:
      - "3001:80"

  planner:
    build:
      context: ../../src/planner/opentripplanner
    ports:
      - "3010:80"

  walking:
    build:
      context: ../../src/base_simulators/walking
